*{
    padding: 0px;
    margin: 0px;
}
.saloncafoot{
    width: 60%;
    margin: auto;
}
.saloncafoot p{
       font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3d5a80;
        line-height: 25px;
}
.saloncafoot h1{
     width: 60%;
    min-width: 300px;
    color: #3d5a80;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.saloncafoot ul{
    color: #3d5a80;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media(max-width:880px){
    .saloncafoot h1{
        font-size: 22px;
    }
    .saloncafoot p{
        font-size: 13px;
        text-align: justify;
    }
    .saloncafoot ul{
        font-size: 13px;
        text-align: justify;
    }
}