.big_s #ddd{
  --swiper-navigation-color: #fff; --swiper-pagination-color: #fff
}

.big_s .reg{
  width: 90%;
  max-width: 1200px;
  gap: 30px;
  display: inline-flex;

margin: auto;
display: flex;
justify-content: space-around;
align-items: start;
flex-wrap: wrap;
}
.big_s .reg1{
width: 40%;
  min-width: 300px;
  
}
/* .reg1 input{
  min-width: 290px;
  min-height: 50px;
  border-radius: 15px;
  border: 1px solid #98c1d9;
  background-color: transparent;
  padding-left: 15px;
  font-size: 18px;
  color: #3d5a80;
} */
.big_s .reg1 span{
  color: #3d5a80;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.big_s .reg1 select{
  width: 88%;
  min-width: 290px;
  min-height: 50px;
  border-radius: 6px;
  border: 1px solid #98c1d9;
  background-color: transparent;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 10px;
  color: #3d5a80;
}


.big_s .reg1 h1{
  color: #1c2b3d;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.big_s .sto{
  width: 100%;
display: flex;
justify-content: start;
flex-wrap: wrap;
}
.big_s .reg1 p{
  min-width: 300px;
  color: #3d5a80;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.big_s .stoimost{
  width: 125px;
}
.big_s .stoimost2{
  width: 100px;
}
.big_s .stoimost2 button{
  width: 16vw;
  min-width: 180px;
  min-height: 50px;
  border-radius: 15px;
  border: none;
  background-color: #223e61;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
}

.big_s .inp{
width: 89%;
display: flex;
gap: 8px;
flex-wrap: wrap;
}
@media(max-width:875px){
.big_s .inp input{
  min-width: 280px;
}
}
.big_s .swiper-wrapper{
display: block;
 }
.big_s #oasdiojasd{
  position: relative;
  top: 600px;
  right: 610px;
 }

.big_s .glavn_sw{
width:50%;
min-width: 300px;
margin-top: 5%;
}

 .big_s .swiper {
    width: 100%;
    height: 100%;
  }

  .big_s .swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

.big_s .swiper-slide img {
    display: block;
    width: 80%;
    height: 350px !important;
    object-fit: cover;
    margin-bottom: 30px;
  }


 .big_s .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

 .big_s .swiper-slide {
    background-size: cover;
    background-position: center;
  }

 .big_s .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .big_s .mySwiper {
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .big_s .mySwiper .swiper-slide {
    width: 25%;
    height: 150px !important;
    opacity: 0.4;
  }

  .big_s .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .big_s .swiper-slide img {
    display: block;
    width: 100%;
    height: 250px !important;
    object-fit: cover;
  }
  .big_s .fdsafdsfs{
width: 100px !important;
height: 100px !important;
overflow: hidden !important;
}

.big_s .fdsafdsfs{
width: 300px !important;
}
